table {
    border-collapse: separate;
    border-spacing: 15px;
  }

  th, td {
    border: 2px solid #cfcfcf;
    border-radius:5px;   /* 🔑 REQUIRED */
    padding: 5px;         /* often checked in tests */
    font-size: 16px;
  }

  th {
    font-weight: bold;
    background-color: #ffffff;
  }

  td {
    background-color: #f7f7f7;
  }